kind: Secret
apiVersion: v1 
type: Opaque
metadata:
  name: kubeconfig-{{ user_namespace_name }} 
  namespace: {{ main_namespace }}
  labels:
    owner: {{ owner | default("none"}}
stringData:
  config: |
    apiVersion: v1
    kind: Config
    clusters:
    - cluster:
        certificate-authority-data: {{ cluster_certificate_authority_data }}
        server: {{ cluster_server }} 
      name: kubernetes
    contexts:
    - context:
        cluster: kubernetes
        namespace: {{ user_namespace_name }}
        user: workshop-user-{{ user_namespace_name }}
      name: workshop
    current-context: workshop
    users:
    - name: workshop-user-{{ user_namespace_name }}
      user:
        token: {{ serviceaccount_token }}
